<h1>Books</h1>
<p>Title </p>
<p>Opinion</p>
<% @books.each do |book| %>
<div>
<%= image_tag 'default-image.jpg' %>
<%= link_to book_path(book.id) do %>
<%=book.title %>
<% end %>

<%=book.body %>
</div>
<% end %>